{% extends 'main.html' %} {% block content %}
<div>
  <form action="" method="POST">
    {% csrf_token %}
    <label for="username">Username: </label>
    <input
      id="username"
      type="text"
      name="username"
      placeholder="Enter username"
    />

    <label for="password">Password: </label>
    <input
      id="password"
      type="text"
      name="password"
      placeholder="Enter password"
    />

    <input type="submit" value="Login" />
  </form>
</div>
{% endblock content %}
